* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

header {
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.container {
    display: flex;
    height: calc(100vh - 100px);
}

.sidebar {
    width: 200px;
    background-color: #eaeaea;
    padding-top: 20px;
    border-right: 2px solid #ccc;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 20px 0;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 8px 16px;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #ccc;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-image: url('image3.jpg');
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ccc;
}

.converter-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 1000px;
    margin: 0 auto;
}

h1, h2 {
    font-size: 28px;
    color: #ffcc00;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #007bff;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

#conversionResult {
    color: green;
    margin-top: 15px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif